<h1>New wiki post</h1>
<%= form_with model: @wiki_post, local: true do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <div >
      <%= form.label :description%><br>
      <%= form.text_field :description %>
    </div>
    <div >
      <%= form.label :author%><br>
      <%= form.text_field :author %>
    </div>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </div>
  <div>
    <%= form.submit "Create" %>
  </div>
<% end %>
<br>
<div>
  <%= link_to "Back to wiki posts", wiki_posts_path %>
</div>
