<p style="color: green"><%= notice %></p>

<%= render @wiki_post %>

<h1><%= @wiki_post.title.titleize %></h1>
<p>Created on <%= @wiki_post.created_at.strftime('%B %d, %Y') %></p>
<p>Description: <%= @wiki_post.description %></p>
<p>Author: <%=@wiki_post.author.titleize %><p>

<div>
  <%= link_to "Edit this wiki post", edit_wiki_post_path(@wiki_post) %> |
  <%= link_to "Back to wiki posts", wiki_posts_path %>

  <%= button_to "Destroy this wiki post", @wiki_post, method: :delete %>
</div>
