<!DOCTYPE html>
<html>
  <head>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>


    <title>WikiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
`